<!DOCTYPE html> 
<style>
    footer {
      position: relative;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1rem;
      background-color: #efefef;
      text-align: center;
      clear: both;
      z-index: 10;
      height: 5em;
      margin-top: 5em;
    }
</style>

<p>&copy; {{author}}</p>