{% load staticfiles %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top" style="box-shadow:0px 1px 10px grey">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'lab-4:index' %}">
      <img class="img-circle" style="max-width:50px;max-height:auto;box-shadow: 0px 2px 5px grey;" alt="Brand" src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-0/p480x480/14212659_656224547887749_7337767977345519547_n.jpg?oh=9d99f5a3823f25775c535732d65fd64a&oe=5A882827">
    </a>
    <a class="navbar-brand" href="{% url 'lab-4:index' %}">Home</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <!-- LINK MENUJU table, dan link menuju home#form -->
      <li><a href="{% url 'lab-4:index' %}#form"> Form </a></li>
      <li><a href="{% url 'lab-4:result_table' %}"> Messages Table </a> </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
</nav>