{% extends "lab_10/layout/base.html" %}

{% block content %}
    <style>
        .card {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            width: 26.5rem;
            height: auto;
            margin: 0 1rem 0 1rem;
            box-shadow: 0.1px 0.1px 2px 0.2px #2c3e50;
        }
        .card .card-img-top {
            border-radius: 8px 8px 0 0;
            width: inherit;
            height: 39rem;
            object-fit: contain;
        }

        .details {
            display: flex;
            flex-direction: row;
        }

        .box {
            border-radius: 6px;
            width: 100%;
            padding: 1.5rem 2rem 1.5rem 2rem;
            box-shadow: 0.1px 0.1px 2px 0.2px #2c3e50;
        }
    </style>
    <div class="details">
        <div class="card">
            <img class="card-img-top" src="{{ movie.poster }}" alt="img-{{ movie.title }}">
            <div class="card-block">
                <h4 class="card-title">{{ movie.title }} ({{ movie.year }})</h4>
                <p class="card-text">{{ movie.genre }}</p>
                <p class="card-text">{{ movie.runtime }}</p>
                {% if added %}
                    <a href="{% url 'lab-10:del_watch_later' id %}" class="btn btn-success"> Remove from Watch Later </a>
                {% else %}
                    <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                {% endif%}
                {% if user_login %}
                    {% if watched %}
                        <a href="{% url 'lab-10:del_watched' id %}" class="btn btn-success"> Remove from Watched </a>
                    {% else %}
                        <a href="{% url 'lab-10:add_watched' id %}" class="btn btn-warning"> Add to Watched </a>
                    {% endif %}
                {% endif%}
            </div>
        </div>
        <div class="box">
            <h3>Rating: {{ movie.imdbrating }}/10 ({{ movie.imdbvotes }})</h3>
            <p>Released on {{ movie.released }}</p>
            <h3>Director</h3>
            <p>{{ movie.director }}</p>
            <h3>Writes</h3>
            <p>{{ movie.writer }}</p><h3>Actors</h3>
            <p>{{ movie.actors }}</p>
            <h3>Description</h3>
            <p>{{ movie.plot }}</p>
        </div>
    </div>
{% endblock %}