{% extends "lab_10/layout/base.html" %}

{% block content %}
    <style>
        .card {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            width: 26.5rem;
            height: auto;
            margin: 0 1rem 1rem 1rem;
        }
        .card .card-img-top {
            border-radius: 8px 8px 0 0;
            width: inherit;
            height: 39rem;
            object-fit: contain;
        }
    </style>
    <div class="row">
        {% for movie in watch_later_movies %}
            <div class="card">
                <img class="card-img-top" src="{{ movie.poster }}" alt="img-{{ movie.title }}">
                <div class="card-block">
                    <h4 class="card-title"><a href="{% url "lab-10:movie_detail" id %}">{{ movie.title }} ({{ movie.year }})</a></h4>
                    <p class="card-text">{{ movie.genre }}</p>
                    <p class="card-text">{{ movie.runtime }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}