{% extends 'lab_8/layout/base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_8.css' %}" />
{% endblock %}
{% block content %}
<div id="lab8"></div>
{% endblock%}
{% block javascript %}
<script src="{% static 'js/lab_8.js' %}"></script>
{% endblock %}