{% extends "base.html" %}
{% block content %}
<h3 class="card w3-card" style="text-align: center">Hi all, This is my complete biodata</h3>
    {% for bio in bio_dict %}
        <div class="w3-card-2 card" style="background-color:#F70A6D">
            <h3><td class="subject">{{ bio.subject }}</td></h3>
            <h3><td class="value">{{ bio.value }}</td></h3>
        </div>
    {% endfor %}
<br><br>
{% endblock %}
