<!DOCTYPE html>
{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-text {
    padding:10px;
}

.card-container {
    padding:20px;
}
</style>
<div class="card-container card">
    <h1>Portofolio</h1>
    <hr/>
    <section class="card-text card" name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>	
    </section>
    <hr/>
    <section class="card-text card" name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <div class="card-text card">
        <section name="form">
            <h2>Send Message</h2>
            <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
                {% csrf_token %}
                {{ message_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </section>
    </div>
</div>
{% endblock %}