{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        background-color: #F70A6D;
    
    }

    .status {
        font-family: "Roboto";
        font-size: 18px;

    }

</style>
<div class="w3-card center_screen">
    <p class="card w3-card status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}