r{% extends "lab_10/layout/base.html" %}

{% block content %}
    <!-- Content Here -->
    <style>
        .card {
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            width: 26.5rem;
            height: auto;
            margin: 0 1rem 1rem 1rem;
        }
        .card .card-img-top {
            border-radius: 8px 8px 0 0;
            width: inherit;
            height: 39rem;
            object-fit: contain;
        }
    </style>
    <section id="data-dashboard">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> Dashboard </h2>
            </div>
            <div class="panel-body">
                <p> Username : {{ author }} </p>
                <p> NPM : {{kode_identitas}} </p>
                <p> Role : {{ role }} </p>
                <p>
                    <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Daftar Movie </a> |
                    <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Daftar Watch Later </a>
                </p>
            </div>
            <div class="panel-footer">
                <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
                    Logout </a>
            </div>
        </div>
    </section>
    <section class="container">
        <h2>Watched Movie</h2>
        <div class="row">
            {% for movie in watched_movies %}
                <div class="card">
                    <img class="card-img-top" src="{{ movie.poster }}" alt="img-{{ movie.title }}">
                    <div class="card-block">
                        <h4 class="card-title"><a href="{% url "lab-10:movie_detail" id %}">{{ movie.title }} ({{ movie.year }})</a></h4>
                        <p class="card-text">{{ movie.genre }}</p>
                        <p class="card-text">{{ movie.runtime }}</p>
                        <a href="{% url 'lab-10:del_watched' id %}" class="btn btn-danger"> Remove </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>

{% endblock %}