body{
  margin-top: 10rem;
}

.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}

#btn-facebook-login {
  background: #3da3dd;
}

#lab8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10rem 0;
}

#lab8 .profile {
  display: flex;
  display: -webkit-flex;
  margin: 0 0 5rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#lab8 .profile .cover-pic .cover {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  position: relative;
}

#lab8 .profile .data .picture {
  width: 25%;
  z-index: 2;
  padding: 5rem 10rem 0 0;
  margin: 0 20rem 0 2rem;
}

#lab8 .profile .data {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#lab8 .profile .data .user-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#postInput {
  width: 50%;
  height: 10rem;
  padding: 0 1rem 0 1rem;
  margin: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 95%;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.feed .btn {
  width: 10rem;
}