<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{% url "lab-7:index" %}'>Home</a>
        </div>
        {% if request.session.access_token %}
        <ul class="nav navbar-nav pull-right">
            <!-- link -->
            <li><a href='{% url "lab-9:auth_logout" %}' onclick="return confirm('Are you sure? :P')">Logout</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
