<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{% url "lab-10:index" %}'>Home</a>
        </div>
        {% if request.session.access_token %}
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <!-- link -->
                <li><a href='{% url "lab-10:list_watch_later" %}'>Watch List</a></li>
{#                <li><a href='{% url "lab-10:movie_list" %}'>Search</a></li>#}
                <li><a href='{% url "lab-10:auth_logout" %}' onclick="return confirm('Keluar? :(')">Logout</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
