{% extends "lab_7/layout/base.html" %}
{% load static %}
{% block content %}
<section>
    {% if friend %}
    <div class="friend-page">
        <div class="data">
            <h2>{{friend.nama}}</h2>
            <h3>{{friend.program}}</h3>
            <span>{{friend.npm}}</span><br>
            <span>{{friend.kota_lahir}}, {{friend.tgl_lahir}}</span><br>
            <p>{{friend.alamat}}</p>
        </div>
    </div>
    <div class="map-page">    
        <div id="map" style="margin:0" ></div>
        <span id="friend-pos">{{latitude}} {{longitude}}</span>
        <span class="privacy">For the privacy protection, this is not the exact location</span>
    </div>
    {% endif %}
</section>
{% endblock %}
{% block javascript %}
<script>
      function initMap() {
        //   https://developers.google.com/maps/documentation/javascript/adding-a-google-map
        var loc = {lat: {{latitude}}, lng: {{longitude}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: loc
        });
        var marker = new google.maps.Marker({
          position: loc,
          map: map
        });
      }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADkxOuul50UxK2DZP6W2f0DmTM92RyS9k&callback=initMap">
</script>
{% endblock %}