body{
    margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
    margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
/* Textarea not resizeable */
textarea {
    resize:none
}

.list-group {
    display: flex;
    flex-direction: column;
}

.list-group .list-group-item {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.friend-page {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0 5rem 2rem 5rem;
}

.map-page h4, #friend-pos, .privacy {
    margin: 0 5rem 0 5rem;
}

.map-page #map {
    height: 400px;
    width: 100%;
    margin: 0;
}