{% extends "lab_5/layout/base.html" %}
{% block content %}
<section class="input-list" id="input-list">
    <div class="container">
        <form id="form" action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ data }}"?</p>
            <input type="submit" value="Confirm" />
        </form>
    </div>
</section>
{% endblock %}